html{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -3;
}

#linkContainer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left:50%;
    transform: translateX(-50%);
    padding-top: 2%;
    gap: 2rem;
}

#inigo, #bos, #strata{
    text-align: center;
}

#inigoHead, #bosHead, #strataHead{
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
     color:rgb(212, 162, 255);
    
}

#inigoText, #bosText, #strataText{
    font-size: 25px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}