html{
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

#bg{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

#linkContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left:50%;
    transform: translateX(-50%);
    padding-top: 2%;
    gap: 2rem;
}

#prints{
    flex-direction: row;
}

#week3, #week4, #week5, #week6,#week7{
    text-align: center;
}

#head3, #head4, #head5, #head6,#head7{
    font-size: 30px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
     color:rgb(212, 162, 255);
    
}

#text3, #text4, #text5, #text6,#text7{
    font-size: 20px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}   

#proposal{
    text-align: center;
}


#proposalText{
    font-size: 30px;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    color:rgb(212, 162, 255);
}  