#canvas {
    position: relative;
    z-index: -1;
}

.buttons{
    cursor: pointer;
    display: flex;
    z-index: 1;
}

#leftarrow{
    position: absolute;
    bottom: 2.5vh;
    left: 5vw;
    width: 75px;
    height: 50px;

     transition: transform 0.1s ease-out;
}

#rightarrow{
    position: absolute;
    bottom: 2.5vh;
    right: 5vw;
    width: 75px;
    height: 50px;

    transition: transform 0.1s ease-out;
}

#refresh{
    position: absolute;
    bottom: 2.5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;

    transition: transform 0.2s ease-out;
}

.visual{
    position: absolute
}

#oscillator{
    width: 300px;
    height: 300px;
}

#leftarrow:hover{
    transform: scale(1.25);
}

#leftarrow:active{
    transform: scale(1.35);
}

#rightarrow:hover{
    transform: scale(1.25);
}

#rightarrow:active{
    transform: scale(1.35);
}

#refresh:hover{
    transform: translateX(-50%) rotate(-900deg);
}
#refresh:active{
    transform: translateX(-50%) scale(1.25);
}

.sliders{
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vw;
    z-index: 1;
}

.carrierWaveformList{
    display: flex;
    gap:20px;
    position: absolute;
    flex: auto;
    flex-direction: row;
    bottom: 15vh;
    left: 50vw;
    z-index: 3;
    transform: translateX(-50%);
}

.modWaveformList{
    display: flex;
    gap:20px;
    position: absolute;
    flex: auto;
    flex-direction: row;
    bottom: 2vh;
    left: 50vw;
    z-index: 3;
    transform: translateX(-50%);
}

.waveformBG{
    display: flex;
    gap:20px;
    position: absolute;
    flex: auto;
    flex-direction: row;
    bottom: 0vh;
    left: 50vw;
    z-index: 1;
    transform: translateX(-50%) translateY(15%);
    width: 650px;
    height: 350px;
}

.wave{
    position:relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.adsr{
    position: absolute;
    right: 2.5vw;
}


.adsrHandle{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;

}

#adsrCanvas{
    width: 300px;
    height: 150px;
}

#base{
    position: absolute;
    top: 110px;
}


#release{
    position: absolute;
    top: 110px;
    /* right: 40px; */
}

#delay{
    position: inherit;
    /* left: 20px; */
}

.modWave{
    position:relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transform: scaleX(-1);
    transition: transform 0.2s ease-out;
}

#selected{
    display: none;
    position:absolute;
    width: 110px;
    height: 110px;
    transform: translateX(-15%) translateY(-10%);
}


.wave:hover{
    transform: scale(1.25);
}

.modWave:hover{
    transform: scaleX(-1) scale(1.25);
}


.sliderBody{
    position: relative;
    width: 200px;
    height: 100px;
}

.sliderBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
     /* transition: transform 0.1s ease-out; */
}
.sliderValue{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
     /* transition: transform 0.1s ease-out; */
}
.sliderDial{
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
     /* transition: transform 0.1s ease-out; */
}
