#canvas {
    position: relative;
    z-index: -1;
}

.buttons{
    cursor: pointer;
    display: flex;
    z-index: 1;
}

#leftarrow{
    position: absolute;
    bottom: 2.5vh;
    left: 5vw;
    width: 75px;
    height: 50px;

     transition: transform 0.1s ease-out;
}

#rightarrow{
    position: absolute;
    bottom: 2.5vh;
    right: 5vw;
    width: 75px;
    height: 50px;

     transition: transform 0.1s ease-out;
}

#refresh{
    position: absolute;
    bottom: 2.5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;

    transition: transform 0.2s ease-out;
}


#leftarrow:hover{
    transform: scale(1.25);
}

#leftarrow:active{
    transform: scale(1.35);
}

#rightarrow:hover{
    transform: scale(1.25);
}

#rightarrow:active{
    transform: scale(1.35);
}



#refresh:hover{
    transform: translateX(-50%) rotate(-900deg);
}
#refresh:active{
    transform: translateX(-50%) scale(1.25);
}